* {
    margin: 0px;
    padding: 0px;

    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    background-color: black;
    padding: 11px 25px;
}

header .menu {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

button {
    background-color: #F0B35B;
    color: black;
    padding: 10px 80px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}


.hero {
    background-image: url(hero.png);
    background-size: cover;
    min-height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    color: white;
    text-align: center;
}

.hero::after {
    content: '';
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, black);
    position: absolute;
    left: 0;
    bottom: 0;
}

.hero h1 {
    font-size: 44px;
    font-weight: bold;
    line-height: 50px;
}

.hero p {
    font-size: 28px;
}

.section2 {
    background-color: black;
    padding: 100px 200px;
    color: white;
    display: flex;
    gap: 80px;
}

.section2 .images {
    display: flex;
    padding: 40px;
    gap: 20px;
    align-items:flex-end ;

}

.section2 p {
    margin-bottom: 20px;

}

.section2 img {
    height: 100px;

}

footer {
    content: "";
    text-align: center;
    gap: 25px;
    padding: 100px 200px;
    height: 300px;
}


footer .imagem3 {
    display: flex;
    gap: 10px;
    text-align: center;
    padding: 50px 50px;

}

footer .imagem4 {
    background-color: black;
    display: flex;
    text-align: center;
    gap: 10px;
    padding: 100px 100px;
    height: 200px;

}

footer .imagem5 {
    padding: 100px 200px;
    gap: 50px;
    margin-right: 20px;

}
footer .imagem6{
    background-color: white;
    padding: 100px 200px;
    text-align: center;
    height: 30px;
    gap: 20px;
}